body {
    margin: 0;
    background-color: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}


#game-container {
    max-width: 800px;
    margin: auto;
}

textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkcyan;
}

#timer {
    font-weight: bold;
    color: orange;
}

#pet {
    font-style: italic;
    color: lightgreen;
}



#titleScreen {
    position: fixed;   /* IMPORTANT */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("thinking.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: fadeIn 1.5s ease-in;
    z-index: 9999;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.titleContent {
    position: relative;
    text-align: center;
    z-index: 2;
}

.titleContent h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.menuButtons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuButtons button {
    padding: 14px 40px;
    font-size: 18px;
    background: linear-gradient(45deg, crimson, darkred);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.menuButtons button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ff4d4d, crimson);
}


#titleScreen {
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hidden {
    display: none !important;
}

#popupPanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}


.popupContent {
    background: #111;
    color: white;
    padding: 30px;
    width: 60%;
    max-height: 80%;
    overflow-y: auto;
    border-radius: 8px;
    text-align: left;
}

.closeBtn {
    float: right;
    font-size: 22px;
    cursor: pointer;
}

@media (max-width: 768px) {

    body {
        padding: 15px;
    }

    .popupContent {
        width: 90%;
    }

    .menuButtons button {
        width: 100%;
        font-size: 18px;
    }

    textarea {
        font-size: 16px;
    }

    h1 {
        font-size: 1.8rem;
    }

}
